<%- include('./includes/head.ejs') %>
</head>
    <body>
        <header class="header-area">
            <%- include('./includes/navbar.ejs') %>
        </header>
        <h1 style="text-align: center;"><%= message %></h1>
        <h2 style="text-align: center; padding: 15px 0px;"><%= error.status %></h2>
<%- include('./includes/end.ejs') %>
