<%- include('./includes/head.ejs') %>
</head>
    <body>
            <div class="preloader">
                    <div class="spin">
                        <div class="cube1"></div>
                        <div class="cube2"></div>
                    </div>
                </div>
        <header class="header-area" id="hometop">
            <%- include('./includes/navbar.ejs', 'path:path') %>
        </header>
        <%- include('./includes/maincarousel.ejs') %>
        <%- include('./includes/about.ejs') %>
        <%- include('./includes/events.ejs') %>
        <%- include('./includes/gallery.ejs') %>
        <%- include('./includes/blog.ejs') %>
        <%- include('./includes/team.ejs') %>
        <%- include('./includes/contact.ejs') %>
        <%- include('./includes/footer.ejs') %>
<%- include('./includes/end.ejs') %>
